{{page-title "Home"}}

<main class="px-3 text-center mt-auto">
    <h1>Easy handling of your customer details</h1>
    <p class="lead">Let's make our contact handling easy with contact-details app. To explore more details about the applicationa and to know how to use please click below.</p>
    <p class="lead">
      <LinkTo class="btn btn-lg btn-secondary fw-bold border-white " @route="about">Learn more</LinkTo>
    </p>
  </main>
{{outlet}}